body {
  background-color: #fff;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 20px;
  font-family: Helvetica;
  font-size: 1.1rem;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

#log {
  background-color: #eee;
  font-family: monospace;
  font-size: 1.2rem;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 30px;
  scroll-behavior: auto;
}

#guess-response {
  margin-top: 10px;
  margin-bottom: 20px;
}

#guess-restart {
  margin: 0 auto;
  display: block;
}
